@{
    Layout = "~/Views/User/_UserLayout.cshtml";
}
<div class="main">
    <div>
       <h1>Hello , {{vm.currUser.FullName}}</h1>
       <h1>Notifications:</h1>
        <p ng-repeat="n in vm.userNotifications">
            From: {{n.UserLogin}} . Totalizator : {{n.TotalizatorName}}
        </p>

    </div>
</div>
