@{
    Layout = "~/Views/User/_UserLayout.cshtml";
}
<div class="main"ng-app="userModule">
    <div ng-controller="UserNgController as vm">
       <h1>Hello , {{vm.currUser.FullName}}</h1>
    </div>
</div>
<script src="~/Scripts/angular/user/userModule.js"></script>
<script src="~/Scripts/angular/user/userController.js"></script>
<script src="~/Scripts/angular/user/userService.js"></script>