@{
    Layout = "~/Views/User/_UserLayout.cshtml";
}
<div>
    <div ng-repeat="t in vm.allTotal">
        <div class="info">
            <p id="title">{{t.Name}}</p>
            <p id="title">Totalizator Info: </p>
            <p id="title">League: {{t.League}}</p>
            <p id="title">Stage: {{t.Stage}}</p>
            <p>Organaizer: {{t.OrganaizerLogin}}</p>
            <p>Date: {{t.Validity| jsDate | date:"yy-MM-dd   HH:mm"}}</p>
            <p>Access: {{t.Access}}</p>
        </div>
        <kendo-grid k-data-source="vm.setUsers(t.Users)" k-sortable="true" k-options="vm.gridTotalOptions"></kendo-grid>
    </div>
</div>
