<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/appStyle.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.2.714/styles/kendo.common.min.css">*@
    @*<link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.2.714/styles/kendo.bootstrap.min.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

    @*<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>*@
    @*<script src="~/Scripts/libs/angular.js"></script>
    <script src="http://kendo.cdn.telerik.com/2016.2.714/js/kendo.all.min.js"></script>*@

    <link rel="canonical" href="http://demos.telerik.com/kendo-ui/grid/angular" />
    <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.min.css" rel="stylesheet" />



        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
    <script src="~/Scripts/angular-footballdata-api-factory.js"></script>

    <script src="~/Scripts/angular/admin/adminModule.js"></script>
    <script src="~/Scripts/angular/admin/adminController.js"></script>
    <script src="~/Scripts/angular/admin/adminService.js"></script>

</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <span class="navbar-brand">Totalizator</span>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Account/LogOut"> Log Out</a></li>
                    </ul>
                </div>
        </div>

        <div>
            @RenderBody()
            <hr />
        </div>
       

        @*<script src="~/Scripts/angular/user/userModule.js"></script>
        <script src="~/Scripts/angular/user/userController.js"></script>
        <script src="~/Scripts/angular/user/userService.js"></script>*@

        @*<script src="~/Scripts/angular/admin/adminModule.js"></script>
        <script src="~/Scripts/angular/admin/adminController.js"></script>
        <script src="~/Scripts/angular/admin/adminService.js"></script>*@

</body>

</html>