<table class="table table-hover">
    <thead>
        <tr>
            <th>Home Team</th>
            <th>Guest Team</th>
            <th>Match Date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="match in vm.matches">
            <td>{{match.HomeTeamName}}</td>
            <td>{{match.GuestTeamName}}</td>
            <td>{{match.MatchDate | jsDate | date:"yy-MM-dd   HH:mm"}}</td>
            <td>
                <button class="btn-info" id="{{match.Id}}" ng-click="vm.onAdd(match.Id); $event.stopPropagation();" state-button ng-disabled="disabled" +"{{match.Id}}">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
        </tr>

    </tbody>
</table>
