body {
    width:100%;
    font-size:14pt;
    font-family:'Times New Roman', Times, serif;
}
span,input,label,p{
    margin:10px;
}
input{
    width:80px;
}
.body-content{
    overflow:hidden;
    padding:10px;
}
.sideBar{
    width:30%;
    float:left;
    height:400px;
    border-style:solid;
    border-color:gray;
    border-width:2px;
    border-radius:5%;
    background-color:lightgrey;
}
.mainContent{
    width:60%;
    float:right;
    height:auto;
    margin-left:5%;
    margin-right:5%;
    border-style:solid;
    border-color:gray;
    border-width:2px;
    border-radius:5%;
    padding:10px;
    
}

#title{
    font-size:18pt;
}
.table{
    border-style:solid;
    border-color:gray;
    border-width:2px;
    border-radius:5%;
    margin-bottom:40px;
}
.submitBtn{
    margin-left:5%;
    width:30%;
    margin-right:5%;
}
.menuBtn *{
    width:60%;
    margin-bottom:10px;
    margin-top:10px;
    text-align:center;
    
}
.rondedBtn{
    border-radius: 22.5px;
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}